h6{
   color: #FFFFFF;
}
h5 {
  font-weight: bold;
  color: #FFFFFF;
}


#titleLink{
  color: #FFFFFF;
}

#titleLink:hover{
  color: #7CB4EC;
  text-decoration: none;
}

/* css for Main Class */
#sidebar {
  text-align: center;
  padding: 2rem 1rem;
  background-color: #001c55;
  overflow-y: auto;
}

#sidebar h2 {
  text-align: left;
  margin-bottom: 0;
}

/* add the three horizontal bars icon for the toggle */
.navbar-toggler-icon {
  color: #FFFFFF;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/Hamburger_icon_white.svg/1024px-Hamburger_icon_white.svg.png");
}

.navbar-toggler {
  color: #FFFFFF;
  border-color: rgba(0, 0, 0, 0.1);
}

#upload-data {
  height: 60px;
  line-height: 60px;
  border-radius: 10px;
  text-align: center;
  background-color: #0e6ba8;
  color: white;
  margin-bottom: 10px;
}

#upload-data:hover {
  background-color: #a6e1fa;
}

.dropdown .Select-placeholder{
  color: white;
}

.dropdown .Select-menu-outer{
  border-radius: 15px;
  background-color: white;
}


.dropdown .Select-control{
  border-radius: 15px;
  color: white;
  height: 100%;
  width: 100%;
  border: 0px;
  background-color: #7CB4EC;
}
.dropdown .VirtualizedSelectFocusedOption{
  border-radius: 15px;
  color: white;
  background-color: #7CB4EC;
}


.dropdown .Select-placeholder{
  color: white;
}

.dropdown .Select-menu-outer{
  border-radius: 15px;
  background-color: white;
}

.multi-dropdown .Select-control{
  border-radius: 15px;
  color: white;
  height: 100%;
  width: 100%;
  border: 0px;
  background-color: #7CB4EC;
}
.multi-dropdown .VirtualizedSelectFocusedOption{
  border-radius: 15px;
  color: white;
  background-color: #7CB4EC;
}

.multi-dropdown .Select-multi-value-wrapper .Select-value{
  background: white;
  color: black;
  border-radius: 10px;
  width: 100%;
}
.multi-dropdown .Select-value-icon{
  text-align: left;
}


.multi-dropdown .Select-placeholder{
  color: white;
}

.multi-dropdown .Select-menu-outer{
  border-radius: 15px;
  background-color: white;
}

/*css for StandardMenu class*/

.clientcode {
  border-width: 0px;
  border-radius: 10px;
  text-align: center;
  background-color: #0e6ba8;
  color: white;
  padding: 2px 0px;
  height: 100%;
  width: 100%
}
.clientcode:hover {
  color: #222222;
  background-color: #a6e1fa;
}

.graph-visible{
  min-width: 32%;
  border-width: 0px;
  border-radius: 10px;
  text-align: center;
  background-color: #0e6ba8;
  color: white;
  margin: 5px 1px;
}

.graph-visible:hover {
  color: #222222;
  background-color: #a6e1fa;
}

.graph-hidden{
  min-width: 32%;
  border-width: 0px;
  border-radius: 10px;
  text-align: center;
  background-color: #0e6ba8;
  color: white;
  margin: 0px 1px 1px 1px;
  display: none;
}

.add-graph {
  border-width: 0px;
  border-radius: 10px;
  text-align: center;
  background-color: #18bc9d;
  color: white;
  margin: auto;
  width: 100%;
}
.add-graph:hover {
  background-color: #65D2BD;
}
.remove-graph {
  border-width: 0px;
  border-radius: 10px;
  text-align: center;
  background-color: #E74C3C;
  color: white;
  margin: auto;
  width: 100%;
}

.remove-graph:hover {

  background-color: #EF877D;
}

.line-above {
  border-top:2px solid #2c3e50;
  height: 10px;
}

/*css NestedFiltering */
.add-filter {
  border-width: 0px;
  border-radius: 10px;
  text-align: center;
  background-color: #18bc9d;
  color: white;
  width: 100%;
}

.add-filter:hover {
  background-color: #65D2BD;
}

.apply-filter {
  border-width: 0px;
  border-radius: 10px;
  text-align: center;
  background-color: #0e6ba8;
  color: white;
  width: 100%;
}

.apply-filter:hover {
  color: #222222;
  background-color: #a6e1fa;
}

.remove-filter {
  border-width: 1px;
  border-radius: 10px;
  text-align: center;
  background-color: #e74c3c;
  color: white;
  margin-top: 2px;
  margin-right: 15px;
}


.remove-filter:hover {
  background-color: #EF877D;
}

.filter-input {
  margin-top: 5px;
  border-radius: 10px;
}

#select-file {
  width: 100%;
}

#page-content {
  padding: 2rem 1rem;
}

.error-message {
   color: red
}

.message {
   color: white
}


.nav-link {
  color: white;
  border-bottom: white;
  border-bottom-width: 5px;
}

.nav-link active {
  color: #a6e1fa;
  background-color: #E74C3C;
}
@media (min-width: 48em) {
  #sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 20rem;
    text-align: left;
    transition: margin 0.3s ease-in-out, padding 0.3s ease-in-out;
  }

  ::-webkit-scrollbar {
    width: 1em;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  ::-webkit-scrollbar-thumb {
    background-color: lightblue;
    outline: 1px solid slategrey;
  }

  #sidebar-toggle {
    display: inline-block;
    position: relative;
    top: 0;
    transition: top 0.3s ease-in-out;
  }

  /* add negative margin to sidebar to achieve the collapse */
  #sidebar.collapsed {
    margin-left: -15.5rem;
    padding-right: 0.5rem;
    overflow-y: hidden !important;
    overflow-x: hidden !important;
  }

  /* move the sidebar toggle up to the top left corner */
  #sidebar.collapsed #sidebar-toggle {
    top: -2rem;
  }

  /* also adjust margin of page content */
  #sidebar.collapsed ~ #page-content {
    margin-left: 6.5rem;
  }

  /* move all contents of navbar other than header (containing toggle) further
     off-screen */
  #sidebar.collapsed > *:not(:first-child) {
    margin-left: -6rem;
    margin-right: 6rem;
  }

  /* reveal the blurb on a large screen */
  #blurb {
    display: block;
  }

  /* Hide the toggle on a large screen */
  #navbar-toggle {
    display: none;
  }

  #collapse {
    display: block;
  }

  /* set margins of the main content so that it doesn't overlap the sidebar */
  #page-content {
    margin-left: 22rem;
    margin-right: 2rem;
    transition: margin-left 0.3s ease-in-out;
  }
}

.show-table{
  color: #FFFFFF;
}
